@import "bootstrap.min";



*,
*::before,
*::after {
 box-sizing: border-box;
}

.fs-1{
    @media (min-width: 315px){
        font-size: 1.875rem !important;
    }
    @media (min-width: 576px){
        font-size: 2.5rem !important;
    }
    @media (min-width: 768px){
        font-size: 2.8125rem !important;
    }
    @media (min-width: 992px){
        font-size: 3.125rem !important;
    }
    @media (min-width: 1200px){
        font-size: 3.75rem !important;
    }
    @media (min-width: 1400px){
        font-size: 4.375rem !important;
    }
}
.fs-2{
    @media (min-width: 315px){
        font-size: 1.25rem!important;
    }
    @media (min-width: 576px){
        font-size: 1.875rem !important;
    }
    @media (min-width: 768px){
        font-size: 1.875rem!important;
    }
    @media (min-width: 992px){
        font-size: 2.8125rem!important;
    }
    @media (min-width: 1200px){
        font-size: 3.125rem !important;
    }
    @media (min-width: 1400px){
        font-size: 3.75rem !important;
    }
}
.fs-3{
    @media (min-width: 315px){
        font-size: 1rem !important;
    }
    @media (min-width: 576px){
        font-size:  1.5625rem!important;
    }
    @media (min-width: 768px){
        font-size:  1.875rem!important;
    }
    @media (min-width: 992px){
        font-size: 2.1875rem!important;
    }
    @media (min-width: 1200px){
        font-size: 2.5rem !important;
    }
    @media (min-width: 1400px){
        font-size: 3.125rem  !important;
    }
}
.fs-4{
    @media (min-width: 315px){
        font-size: 0.875rem!important;
    }
    @media (min-width: 576px){
        font-size:  !important;
    }
    @media (min-width: 768px){
        font-size:  !important;
    }
    @media (min-width: 992px){
        font-size: !important;
    }
    @media (min-width: 1200px){
        font-size: 1.5rem !important;
    }
    @media (min-width: 1400px){
        font-size: 2.5rem !important;
    }
}
.fs-5{
    @media (min-width: 315px){
        font-size: 0.625rem!important;
    }
    @media (min-width: 576px){
        font-size:  !important;
    }
    @media (min-width: 768px){
        font-size:  !important;
    }
    @media (min-width: 992px){
        font-size:  !important;
    }
    @media (min-width: 1200px){
        font-size: 1.25rem  !important;
    }
    @media (min-width: 1400px){
        font-size: 1.875rem !important;
    }
}

.container{
    width: 90%;
}

.bg{
    width: 100%;
    background-image: url("../image/index-img/background-img.png");
}

.logo-bg{
    background-color: white;
    border-radius: 10px;
}

.eat-in{
    @media (min-width: 315px){
        width: 100%;
        background-color: white;
        border: 10px solid #F2A54C;
        border-radius: 10px;
    }
    @media (min-width: 576px){
        width: 100%;
        background-color: white;
        border: 20px solid #F2A54C;
        border-radius: 10px;
    }
}

.index-space1{
    @media (min-width: 315px){
        width: 100%;
        height: 60px;
    }
    @media (min-width: 576px){
        width: 100%;
        height: 100px;
    }
    @media (min-width: 768px){
        width: 100%;
        height: 200px;
    }
}
.index-space2{
    @media (min-width: 315px){
        width: 100%;
        height: 30px;
    }
    @media (min-width: 576px){
        width: 100%;
        height: 80px;
    }
    @media (min-width: 768px){
        width: 100%;
        height: 120px;
    }
}
.index-space3{
    @media (min-width: 315px){
        width: 100%;
        height: 0px;
    }
    @media (min-width: 576px){
        width: 100%;
        height: 20px;
    }
    @media (min-width: 768px){
        width: 100%;
        height: 64px;
    }
}

.order-online{
    width: 100%;
    background-color: #FCE1B6;
    border-radius: 10px;
    border: none;
}

.cash-with-order{
    width: 100%;
    background-color: #FCE1B6;
    border-radius: 10px;
    border: none;
}

.nav-link{
    background-color: #F5F5F4;
    border-radius: 10px;
    color: black;
    text-decoration:none;
    position: relative;
    &::before{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        bottom: -63px;
        background-color:  #F5F5F4;
        width: 100%;
        height: 15px;
        border-radius: 10px;
    }
}


.nav-link.active{
    background-color: #F5F5F4;
    border-radius: 10px;
    color: black;
    text-decoration:none;
    position: relative;
    &::before{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        bottom: -63px;
        background-color:  #ED7550;
        width: 100%;
        height: 15px;
        border-radius: 10px;
    }
}



.scrollspy-example{
    position: relative;
    height: 1600px;
    margin-top: 0.5rem;
    scrollbar-width: none;
    overflow-y: scroll;
}


.scrollspy-example::-webkit-scrollbar {
    display: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: #fff;
    background-color: #ED7550;
}

.nav-link:focus, .nav-link:hover {
    color: #011A2C;
}

.nav-pills .nav-link {
    background-color: #F5F5F4;
    border: 0;
    border-radius: 1rem;
}

.nav {
    flex-wrap: nowrap;
    margin-bottom: 0;
    list-style: none;
    overflow: auto;
}
.nav::-webkit-scrollbar {
    display: none;
}

.order-bottom-line{
    width: 100%;
    height: 15px;
    background-color: #F5F5F4;
}
.order-bottom-line{
    width: 100%;
    height: 15px;
    background-color: #F5F5F4;
}

.card-body{
    position: relative;
}
.discount{
    width: 10rem;
    height: 2.75rem;
    color: white;
    background-color: #ED7550;
    border-radius: 0px 100px 100px 0px;
    position: absolute;
    top:30px;
    left:0px;
    display: flex;
    align-items: center;
}
.star{
    background-color: #FFCB1E;
    border-radius: 1rem;
    position: absolute;
    top:1.5rem;
    right: 1.5rem;
}

.order-card a{
    color: #011A2C;
    text-decoration:none;
}

.order-space{
    width: 100%;
    height: 80px;
}

.header{
    position: relative;
}
.go-back{
    position: absolute;
    left: 0;
    top: 50%;
}



.detail-page-line{
    border: 1px solid #CCCCCC;
    width: 100%;
}

.customization{
    background-color: white;
    border-radius: 1rem;
}
.customization-img{
    overflow: auto;
}
.customization-gray{
    background-color: #F5F5F4;
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input[type=radio] {
    border-radius: 5px;
}
.form-check-input {
    width: 2em;
    height: 2em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 4px solid #707070(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-check-input:checked {
    background-color: #ED7550;
    border-color: #ED7550;
}
.customization-edit{
    height: 600px;
    overflow: auto;
}

.customization-adjustment .btn-danger{
    background-color: #BBBDC1;
    border-color: #BBBDC1;
}
.customization-adjustment .btn-warning {
    color: #707070;
    background-color: #F5F5F4;
    border-color: #F5F5F4;
}
.customization-adjustment .btn-success {
    color: #fff;
    background-color: #ED7550;
    border-color: #ED7550;
}
.btn-more{
    background-color: #F2F2F1;
    border-radius: 1rem;
    border: none;
    color: #011A2C;
    width: calc(50% - 16px);
}
.btn-add{
    background-color: #ED7550;
    border-radius: 1rem;
    border: none;
    color: white;
    width: calc(50% - 16px);
}

.detail{
    background-color: white;
    border-radius: 1rem;
}
.detail-none{
    background-color: white;
    width: 100%;
    height: 580px;
}
.discount-btn{
    background-color: #ED7550;
    border-radius: 1rem;
    border: none;
    color: white;
}
.pay-btn{
    background-color: #F16C5D;
    border-radius: 1rem;
    border: none;
    color: white;
}
.detail-btn a{
    text-decoration: none;
}


.customization-none{
    background-color: white;
    width: 100%;
    height: 935px;
}

.detail-summary{
    background-color: white;
    width: 100%;
    height: 580px;
    overflow: auto;
}

.detail-summary-content{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;  // 控制多行的行數
    -webkit-box-orient: vertical;
}
.detail-summary button{
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
}

.cancel-btn{
    width: 100%;
    background-color: white;
}
.cancel-btn a{
    text-decoration: none;
    color: #011A2C;
}



.modal-content{
    border-radius: 1rem;
}
.modal {
    position: fixed;
    top: 40%;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-header{
    border: none;
}
.modal-body{
    border: none;
}
.modal-footer{
    border: none;
}
.modal-dialog {
    max-width: 40%;
    margin: 1.75rem auto;
}


.popup-cancel{
    border: none;
    background-color: #F5F5F4;
    border-radius: 1rem;
    width: calc(50% - 16px);
}
.popup-enter{
    border: none;
    background-color: #ED7550;
    border-radius: 1rem;
    color: white;
    width: calc(50% - 16px);
}


.form-control{
    border: 1px solid #707070;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-footer a{
    text-decoration: none;
}
.modal-footer .popup-enter a:hover{
    color: white;
    text-decoration: none;
}
.modal-body input::-webkit-input-placeholder{
    text-align: center;
}


.credit-card{
    @media (min-width: 315px){
        width: 100%;
        background-color: white;
        border: 10px solid #F2A54C;
        border-radius: 10px;
        position: relative;
    }
    @media (min-width: 768px){
        width: 100%;
        background-color: white;
        border: 20px solid #F2A54C;
        border-radius: 10px;
        position: relative;
    }
}
.cash{
    @media (min-width: 315px){
        width: 100%;
        background-color: white;
        border: 10px solid #F2A54C;
        border-radius: 10px;
        position: relative;
    }
    @media (min-width: 768px){
        width: 100%;
        background-color: white;
        border: 20px solid #F2A54C;
        border-radius: 10px;
        position: relative;
    }
}
.Anther-Payment{
    @media (min-width: 315px){
        width: 100%;
        background-color: white;
        border: 10px solid #F2A54C;
        border-radius: 10px;
        position: relative;
    }
    @media (min-width: 768px){
        width: 100%;
        background-color: white;
        border: 20px solid #F2A54C;
        border-radius: 10px;
        position: relative;
    }
}

.payment-cancel{
    background-color: #F2F2F1;
    border-radius: 10px;
    border: none;
    width: calc(50% - 16px);
    @media (min-width: 315px){
        background-color: #F2F2F1;
        border-radius: 10px;
        border: none;
        width: calc(50% - 4px);
    }
    @media (min-width: 768px){
        background-color: #F2F2F1;
        border-radius: 10px;
        border: none;
        width: calc(50% - 16px);
    }
}
.payment-back{
    @media (min-width: 315px){
        background-color: #ED7550;
        border-radius: 10px;
        border: none;
        color: white;
        width: calc(50% - 4px);
    }
    @media (min-width: 768px){
        background-color: #ED7550;
        border-radius: 10px;
        border: none;
        color: white;
        width: calc(50% - 16px);
    }
}

.total-amount{
    @media (min-width: 315px){
        border-radius: 10px;
        border: 10px solid #ED7550;
    }
    @media (min-width: 768px){
        border-radius: 10px;
        border: 20px solid #ED7550;
    }
}
.total-amount-title{
    background-color: #ED7550;
    color: white;
}
.total-amount-title2{
    color: #ED7550;
}


.total-amount-content{
    @media (min-width: 315px){
        background-color: white;
        border-radius: 10px;
        border: 10px solid #F2A54C;
    }
    @media (min-width: 768px){
        background-color: white;
        border-radius: 10px;
        border: 20px solid #F2A54C;
    }
}
.total-amount-content-tittle{
    background-color: #F2A54C;
    color: white;
}




.total-amount{
    background-color: white;
    border-radius: 10px;
}


.receipt-line1{
    background-color: #707070;
    height: 100%;
    width: 1px;
}
.receipt-line2{
    background-color: #707070;
    width: 100%;
    height: 1px;
}

.receipt1-detail-summary{
    @media (min-width: 315px){
        background-color: white;
        width: 100%;
        height: 200px;
        overflow: auto;
    }
    @media (min-width: 576px){
        background-color: white;
        width: 100%;
        height: 350px;
        overflow: auto;
    }
    @media (min-width: 768px){
        background-color: white;
        width: 100%;
        height: 500px;
        overflow: auto;
    }
}

.receipt1-cancel{
    background-color: #F2F2F1;
    border-radius: 10px;
    border: none;
}

.order-completed{
    color: #ED7550;
}

.no-funtion-background{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #404040;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    @media (min-width: 315px){
        position: absolute;
        top: 0;
        left: 0;
        background-color: #404040;
        opacity: 0.9;
        width: 100%;
        height: 100%;
    }
}

.no-funtion-border{
    @media (min-width: 315px){
        border: 10px solid #535353;
        border-radius: 10px;
    }
    @media (min-width: 768px){
        border: 20px solid #535353;
        border-radius: 10px;
    }
}

